body {
    font-family:Arial, Helvetica, sans-serif;
}

#generate-equation-button {
    display: block;
    margin: 1rem auto;
    padding: 1rem;
    background-color: rgb(255, 224, 48);
    font-weight: 600;
    font-size: 1rem;
    border-radius: 1rem;
    border-width: 3px;
    outline: none;
}

#generate-equation-button:hover {
    background-color: rgb(245, 216, 50);
    cursor: pointer;
}

#fractions {
    text-align: center;
    display: block;
    margin: 1rem auto 2rem auto;
    font-weight: 600;
}