body {
    font-family:Arial, Helvetica, sans-serif;
}

#generate-equation-button {
    display: block;
    margin: 1rem auto;
    padding: 1rem;
    background-color: rgb(255, 224, 48);
    font-weight: 600;
    font-size: 1rem;
    border-radius: 1rem;
    border-width: 3px;
    outline: none;
}

#generate-equation-button:hover {
    background-color: rgb(245, 216, 50);
    cursor: pointer;
}

#fractions {
    text-align: center;
    display: block;
    margin: 1rem auto 3rem auto;
    font-weight: 600;
}

#answers {
    margin-top: 3rem;;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-weight: 600;
}

#inputX, #inputY {
    width: 3rem;
}

#check-answer-button, #show-answer-button {
    padding: 0.5rem;
    font-weight: 600;
    font-size: 1rem;
    border-radius: 1rem;
    border-width: 3px;
    outline: none;
}

#check-answer-button, #show-answer-button {
    cursor: pointer;
}

#check-answer-button:hover {
    background-color: rgb(126, 235, 126);
}

#show-answer-button:hover {
    background-color: rgb(235, 126, 126);
}

#check-answer-button {
    background-color: rgb(134, 253, 134);
}

#show-answer-button {
    display: block;
    margin: 0 auto;
    background-color: rgb(253, 134, 134);
}

p {
    height: 1rem;
    text-align: center;
    margin-bottom: 2rem;
}